@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400;
}
body, html {
	width: 100%;
	min-height: 100vh;
	font-size: 16px;
	background-color: var(--bs-white);
}

.font-size-10 {font-size: 0.70rem;}
.font-size-12 {font-size: 0.80rem;}
.font-size-14 {font-size: 0.90rem;}
.font-size-16 {font-size: 1.00rem;}
.font-size-18 {font-size: 1.10rem;}
.font-size-20 {font-size: 1.20rem;}
.font-size-22 {font-size: 1.30rem;}
.font-size-24 {font-size: 1.40rem;}
.font-size-26 {font-size: 1.50rem;}
.font-size-28 {font-size: 1.60rem;}
.font-size-30 {font-size: 1.70rem;}
.font-size-32 {font-size: 1.80rem;}
.font-size-34 {font-size: 1.90rem;}
.font-size-36 {font-size: 2.00rem;}
.font-size-38 {font-size: 2.10rem;}
.font-size-40 {font-size: 2.20rem;}
.font-size-42 {font-size: 2.30rem;}
.font-size-44 {font-size: 2.40rem;}
.font-size-46 {font-size: 2.50rem;}

.cursor-pointer, [data-modal] {
	cursor: pointer;
}

.font-weight-light {
	font-weight: 100;
}
b, strong, .font-weight-bold {
	font-weight: 700 !important;
}

.form-group > label {
	font-size: 12px;
	font-weight: bold;
}

body > #alertMessage {
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-weight: bold;
	z-index: 99999;
}

body > #loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.95);
}
body > #loading * {
	color: #FFF !important;
	fill: #FFF !important;
}
svg.svg-inline--fa path {
	color: #FFF !important;
}